body {
	background: #eee;
	padding-top: 50px;
}

h1 {
	font-size: 24px;
	font-weight: bold;
}

.shadowed {
	box-shadow: 2px 2px 5px #777;
}

#node-icon{
	color: #ccc;
	font-size: 40px;
	margin-top: 10px;
}

#title {
	margin-top: 10px;
}

#history {
	visibility: hidden;
}

#clear-history {
	display: none;
}

.bottom-border {
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.btn {
	min-width: 25%;
	padding: 10px;
	margin: 5px;
}

#start, .btn.choice-btn {
	padding: 20px;
}
.well {
	background: #fff;
}

#historyList {
	margin: auto;
	margin-bottom: 10px;
}

#historyList th {
	font-weight: bold;
}

#historyList th, #historyList td {
	text-align: left;
	padding: 5px 15px;
	border-bottom: 1px solid #ccc;
}

#historyList tbody tr:last-child td {
	border-bottom: none;
}

#historyList tbody tr:nth-child(even) {
	background: #eee;
}

#historyList tbody tr:last-child {
	background: #ccc;
}

#historyList tbody tr:hover {
	background: #ffdb9a;
}
